<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Log In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login">
          <form [formGroup]="logInForm" (submit)="submitPatientLogInForm()">
            <mat-form-field class="example-full-width">
              <mat-label>DNI</mat-label>
              <input type="string" matInput placeholder="DNI" formControlName="dni">
              <mat-error *ngIf="dni.errors?.['required']">
                Dni is required
              </mat-error>
              <mat-error *ngIf="dni.errors?.['minlength']">
                You must enter a correct Dni
              </mat-error>
              <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="password.errors?.['required']">
                Password is required
              </mat-error>
              <mat-error *ngIf="signInForm.get('password')?.hasError('minLength') && signInForm.get('password')?.touched">
                Password must be at least 8 characters length
              </mat-error>
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" type="submit">Log In</button>
          </form>
        </mat-tab>

        <mat-tab label="Register">
          <form [formGroup]="registerForm" (submit)="submitPatientRegisterForm()">
            <mat-form-field class="example-full-width">
              <mat-label>Dni</mat-label>
              <input type="string" matInput placeholder="DNI" formControlName="dni">
              <mat-error *ngIf="dni.errors?.['required']">
                Dni is required
              </mat-error>
              <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input type="string" matInput placeholder="Name" formControlName="name">
              <mat-error *ngIf="name.errors?.['required']">
                Name is required
              </mat-error>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-mid-width">
              <mat-label>Birthday</mat-label>
              <input type="date" matInput placeholder="Birthday" formControlName="birthday">
              <mat-error *ngIf="signInForm.controls['birthday'].errors?.['required']">
                Birthday is required
              </mat-error>
              <mat-icon matSuffix>calendar_today</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-mid-width-confirm">
              <mat-label>Cellphone</mat-label>
              <input type="tel" matInput placeholder="Cellphone" formControlName="phone">
              <mat-error *ngIf="cellphone.errors?.['required']">
                Cellphone is required
              </mat-error>
              <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-mid-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="email.errors?.['required']">
                Email is required
              </mat-error>
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-mid-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="password.errors?.['required']">
                Password is required
              </mat-error>
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <button mat-button color="primary" type="submit">Register</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
