<mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <app-sidebar-doctor></app-sidebar-doctor>
  </mat-drawer>

  <mat-drawer-content>
    <h1 class="title">My Status</h1>
    <div style="display: flex; width: 100%; justify-content: space-evenly; align-items: center">
      <div class="rectangle-container">
        <div class="patient-details">
          <div class="patient-photo">
            <img src="./assets/images/patient-icon.png" alt="Patient Photo">
          </div>
          <div class="patient-name">
            {{ currentPatient.name }}
          </div>
        </div>

        <div class="circle-container">
          <div class="circle" [ngClass]="{'blue': pulses.length > 0 && pulses[pulses.length - 1].value <= 80, 'red': pulses.length > 0 && pulses[pulses.length - 1].value > 80}">
            <span class="text">{{ pulses.length > 0 ? pulses[pulses.length - 1].value + ' BPM' : 'No data' }}</span>
          </div>
          <div class="circle lightblue"></div>
          <div class="circle grey"></div>
        </div>

      </div>

      <div class="container-right">
        <div class="records">
          <div *ngFor="let pulse of pulses.slice(pulses.length - 3)" class="record">
            <div [ngClass]="{'recordTemperature1 good': pulse.value <= 80, 'recordTemperature2 bad': pulse.value > 80}">
              <img class="recordImg" src="assets/images/pulso_icon.png">
              <p>{{ pulse.value }} BPM</p>
            </div>
            <p class="recordHour">{{ pulse.timestamp | date:'shortTime' }}</p>
          </div>
        </div>
        <button class="btn" [routerLink]="['/temperatureDoctor', idPatient]">Temperature</button>
      </div>

    </div>



  </mat-drawer-content>

</mat-drawer-container>
