<mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <app-sidebar-doctor></app-sidebar-doctor>
  </mat-drawer>

  <mat-drawer-content>
    <h1 class="title">My Status</h1>
    <div style="display: flex; width: 100%; justify-content: space-evenly; align-items: center">
      <div class="rectangle-container">
        <div class="patient-details">
          <div class="patient-photo">
            <img src="./assets/images/patient-icon.png" alt="Patient Photo">
          </div>
          <div class="patient-name">
            {{ currentPatient.name }}
          </div>
        </div>

        <div class="circle-container">
          <div class="circle blue">
            <span class="text">37 °C</span>
          </div>
          <div class="circle lightblue"></div>
          <div class="circle grey"></div>
        </div>

      </div>

      <div class="container-right">
        <div class="records">
          <div class="record">
            <div class="recordTemperature good">
              <img class="recordImg" src="assets/images/temperature_icon.png">
              <p>23.2°C</p>
            </div>
            <p class="recordHour">8:00 am - 12:00 am</p>
          </div>
          <div class="record">
            <div class="recordTemperature bad">
              <img class="recordImg" src="assets/images/temperature_icon.png">
              <p>40.3°C</p>
            </div>
            <p class="recordHour">2:00 pm - 6:00 pm</p>
          </div>
          <div class="record">
            <div class="recordTemperature good">
              <img class="recordImg" src="assets/images/temperature_icon.png">
              <p>27.4°C</p>
            </div>
            <p class="recordHour">9:00 pm - 12:00 pm</p>
          </div>
        </div>
        <button class="btn" [routerLink]="['/pulseDoctor', idPatient]">Pulse</button>
      </div>

    </div>



  </mat-drawer-content>

</mat-drawer-container>
