<mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <h1 class="title">My Status</h1>
    <div style="display: flex; width: 100%; justify-content: space-evenly; align-items: center">
      <div class="rectangle-container">
        <div class="patient-details">
          <div class="patient-photo">
            <img src="./assets/images/patient-icon.png" alt="Patient Photo">
          </div>
          <div class="patient-name">
            {{ currentPatient.name }}
          </div>
        </div>

        <div class="circle-container">
          <div class="circle" [ngClass]="{'blue': temperatures.length > 0 && temperatures[temperatures.length - 1].value <= 37, 'red': temperatures.length > 0 && temperatures[temperatures.length - 1].value > 37}">
            <span class="text">{{ temperatures.length > 0 ? temperatures[temperatures.length - 1].value + ' °C' : '' }}</span>
          </div>
          <div class="circle lightblue"></div>
          <div class="circle grey"></div>
        </div>
        
      </div>

      <div class="container-right">
        <div class="records">
          <!-- Utiliza *ngFor para iterar sobre los últimos 3 datos de temperaturas -->
          <div *ngFor="let temperature of temperatures.slice(temperatures.length - 3)" class="record">
            <div [ngClass]="{'recordTemperature1 good': temperature.value <= 37, 'recordTemperature2 bad': temperature.value > 37}">
              <img class="recordImg" src="assets/images/temperature_icon.png">
              <p>{{ temperature.value }}°C</p>
            </div>
            <!-- Utiliza slice para obtener solo la hora del timestamp -->
            <p class="recordHour">{{ temperature.timestamp | date:'yyyy-MM-dd HH:mm' }}</p>
          </div>
        </div>
        <button class="btn" routerLink="/pulsePatient">Pulse</button>
      </div>
      
      
    </div>
  </mat-drawer-content>
</mat-drawer-container>